<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5" style="padding-left: 24px !important">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5" >Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a class="text-nowrap" [routerLink]="['/panel/products/register']">Registrar producto<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
  </div>

  <div class="card border-0">
        <div class="card-header border border-white">
            <h5 style="margin-bottom: -30px;">Filtro de productos</h5>
        </div>
        <div class="card-header mb-5">
            <form class="form-inline pt-2">
                <label class="sr-only" for="inline-form-input-name">Title</label>
                <input class="form-control mb-3 mr-sm-4" (keyup)="filter('title')" name="filterTitle" [(ngModel)]="filterTitle" type="text" id="inline-form-input-name" placeholder="Nombre">
                <label class="sr-only" for="inline-form-input-name">Laboratory</label>
                <input class="form-control mb-3 mr-sm-4" (keyup)="filter('laboratory')" name="filterLaboratory" [(ngModel)]="filterLaboratory" type="text" id="inline-form-input-name" placeholder="Laboratorio">
                
            
                
            </form>
        </div>
        <div class="card-body border border-white">
        <div class="table-responsive shadow-sm p-3 bg-body rounded" style="padding-bottom: 7px !important">
          <table class="table mb-0">
            <thead >
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">Nombre</th>
                <th class="border-top-0">Laboratorio</th>
                <th class="border-top-0 d-flex justify-content-center">Cantidad</th>
                <th class="border-top-0">Precio</th>
                <th class="border-top-0 d-flex justify-content-center">Ventas</th>
                <th class="border-top-0 text-center" >Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="load_data">
              <tr>
                <td>
                  <app-spinner></app-spinner>
                </td>
              </tr>
            </tbody>
            <ng-container *ngIf="!load_data">
              <tbody *ngFor="let item of products | slice: (page-1)*pageSize : (page-1) * pageSize + pageSize ; let indice = index">
                <tr>
                  <td>{{indice+1}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.laboratory}}</td>
                  <td class="d-flex justify-content-center">{{item.stock}}</td>
                  <td>$ {{item.price}}</td>
                  <td class="d-flex justify-content-center">{{item.sales}}</td>
                  <td>
                
                    <div class="d-flex justify-content-center">
                      <i class="material-symbols-rounded mr-1" style="cursor: pointer; margin-top: 3.1px;" matTooltip="Informacion del producto" matTooltipPosition="above" data-toggle="modal" [attr.data-target]="'#information-'+item._id">
                        feed
                        </i>
                      <i class="material-symbols-rounded mx-1" style="cursor: pointer" matTooltip="Editar producto" matTooltipPosition="above" [routerLink]="['/panel/products', item._id]">
                        edit_square
                        </i>
                        <i class="material-symbols-rounded mx-1" style="cursor: pointer; margin-top: 2.1px" matTooltip="Ingresar cantidad" matTooltipPosition="above" [routerLink]="['/panel/products/inventory', item._id]">
                          inventory
                          </i>
                        <i class="material-symbols-rounded ml-1" style="cursor: pointer; margin-top: 2.1px" matTooltip="Eliminar producto" matTooltipPosition="above" data-toggle="modal" [attr.data-target]="'#delete-'+item._id" >
                          delete
                          </i>
                    </div>

                    <div class="modal fade" id="information-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100vh; padding: 0px; margin: 0px auto;">
                        <div class="modal-content" >
                          <div class="modal-header">
                            <h4 class="modal-title">Informacion del producto</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                          </div>
                          <div class="modal-body d-flex flex-wrap">
                            <div class="w-50 px-3 ">
                              <p class="mb-0">
                                Nombre: &nbsp;&nbsp;   <b> {{item.title}}</b><br>
                                Laboratorio: &nbsp;&nbsp;   <b> {{item.laboratory}}</b><br>
                                Cantidad: &nbsp;&nbsp;  <b> {{item.stock}}</b><br>
                                Precio: &nbsp;&nbsp;  <b> {{item.price}}</b><br>
                                Ventas: &nbsp;&nbsp;  <b> {{item.sales}}</b><br>
                                Descripcion: &nbsp;&nbsp;  <b> {{item.description}}</b><br>
                              </p>
                            </div>
                            <div class="w-50 px-3 d-flex justify-content-center">
                              <img style="width: 100% ;" [src]="URI_PRODUCT_BACKEND+'/getFrontPage/'+item.image" class="" alt="Square image"><br>
                            </div>
                            
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary " type="button" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary btn-shadow" data-dismiss="modal" type="button" [routerLink]="['/panel/products', item._id]">Editar producto</button>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100vh; padding: 0px; margin: 0px auto;">
                        <div class="modal-content" >
                          <div class="modal-header">
                            <h4 class="modal-title">Eliminar producto</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                          </div>
                          <div class="modal-body">
                            <p class="mb-0">Nombre: &nbsp;&nbsp;   <b> {{item.title}}</b><br>
                              Laboratorio: &nbsp;&nbsp;  <b> {{item.laboratory}}</b>
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary " type="button" data-dismiss="modal">Cancelar</button>
                            <button *ngIf="!load_btn" class="btn btn-primary btn-shadow" type="button" (click)="delete(item._id)">Eliminar</button>
                            <button *ngIf="load_btn" type="button" class="btn btn-primary" disabled>
                              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                              Eliminando...
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
          
        </div>
        </div>
        <div class="card-footer border border-0">

          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="products.length"
          >
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
            <span class="current"></span>
          </ngb-pagination>
        </div>

  </div>


