<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5" style="padding-left: 24px !important">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5" >Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a class="text-nowrap" [routerLink]="['/panel/clients/register']">Registrar cliente<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
  </div>

  <div class="card border-0">
        <div class="card-header border border-white">
            <h5 style="margin-bottom: -30px;">Filtro de clientes</h5>
        </div>
        <div class="card-header mb-5">
            <form class="form-inline pt-2">
                <label class="sr-only" for="inline-form-input-name">Apellidos</label>
                <input class="form-control mb-3 mr-sm-4" (keyup)="filter('names')" name="filterNames" [(ngModel)]="filterNames" type="text" id="inline-form-input-name" placeholder="Nombres">
                <label class="sr-only" for="inline-form-input-username">Correo</label>
                <div class="input-group mb-3 mr-sm-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input class="form-control" type="text" (keyup)="filter('email')" name="filterEmail" [(ngModel)]="filterEmail" placeholder="Correo">
                </div>
            
                
            </form>
        </div>
        <div class="card-body border border-white">
        <div class="table-responsive shadow-sm p-3 bg-body rounded" style="padding-bottom: 7px !important">
          <table class="table mb-0">
            <thead >
              <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">Nombres</th>
                <th class="border-top-0">Apellidos</th>
                <th class="border-top-0">Correo</th>
                <th class="border-top-0">Opciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of clients; let indice = index">
              <tr>
                <td>{{indice+1}}</td>
                <td>{{item.names}}</td>
                <td>{{item.lastnames}}</td>
                <td>{{item.email}}</td>
                <td>
              
                  <div class="d-flex justify-content-start">
                    <i class="material-symbols-rounded mr-2" style="cursor: pointer" matTooltip="Editar" matTooltipPosition="right"  [routerLink]="['/panel/clients', item._id]">
                      edit_square
                      </i>
                      <i class="material-symbols-rounded mx-2" style="cursor: pointer" matTooltip="Eliminar" matTooltipPosition="right" >
                        delete
                        </i>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
        </div>
        <div class="card-footer border border-0">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a href="#" class="page-link">Prev</a>
                  </li>
                  <li class="page-item d-sm-none">
                    <span class="page-link page-link-static">2 / 5</span>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">1</a>
                  </li>
                  <li class="page-item active d-none d-sm-block" aria-current="page">
                    <span class="page-link">
                      2
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">3</a>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">4</a>
                  </li>
                  <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">5</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link">Next</a>
                  </li>
                </ul>
              </nav>
        </div>

  </div> 

